.drawer {
  position: fixed;
  z-index: 1000;
  left: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(var(--color-foreground), 0.5);
  transition: visibility var(--duration-default) ease;
}

.drawer.active {
  visibility: visible;
}

.drawer__inner {
  height: 100%;
  width: 43.5rem;
  max-width: calc(100vw - 3rem);
  border: 0.1rem solid rgba(var(--color-foreground), 0.2);
  border-right: 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform var(--duration-default) ease;
}

.drawer__inner-empty {
  height: 100%;
  padding: 0 1.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.cart-drawer__warnings {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

cart-drawer.is-empty .drawer__inner {
  display: grid;
  grid-template-rows: 1fr;
  padding: 4rem 6rem;
}
.drawer-empty--header {
  display: flex;
  align-items: center;
}
.slideout-cart__empty-text {
  font-weight: 300;
  margin-top: 30px;
  font-size: 14px;
}
.drawer-empty--wrapper {
  display: flex;
  flex-direction: column;
}
.cart-continue {
  margin-top: 50vh;
}

cart-drawer:not(.is-empty) .cart-drawer__warnings,
cart-drawer:not(.is-empty) .cart-drawer__collection {
  display: none;
}

.cart-drawer__warnings--has-collection .cart__login-title {
  margin-top: 2.5rem;
}

.drawer.active .drawer__inner {
  transform: translateX(0);
}
.drawer-header--empty {
  display: flex;
  position: relative;
}
.cart-usp--text {
  text-align: left;
}

.drawer__header {
  border-bottom: 1px solid rgba(151, 151, 151, 0.15);
  position: relative;
  display: flex;
  align-items: center;
}
.cart-item__quantity-wrapper.quantity-popover-wrapper .quantity__button {
  width: 3rem;
}
.cart-item__quantity-wrapper.quantity-popover-wrapper
  .quantity__button:last-child {
  margin: 0;
}

.drawer__heading {
  font-size: 18px;
  margin: 7px;
  letter-spacing: 1.5px;
  font-weight: 300;
}

.drawer__close {
  margin-right: 27px;
  width: 20px;
  height: 20px;
  display: block;
  padding: 5px;
  box-sizing: content-box;
  background: none;
  border: none;
}

.cart-drawer__warnings .drawer__close {
  right: 5px;
}

.drawer__close svg {
  height: 1.5rem;
  width: 2rem;
}

.drawer__contents {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

cart-drawer-items.is-empty + .drawer__footer {
  display: none;
}

.drawer__footer > details {
  margin-top: -1.5rem;
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.2);
}

.drawer__footer > details[open] {
  padding-bottom: 1.5rem;
}

.drawer__footer summary {
  display: flex;
  position: relative;
  line-height: 1;
  padding: 1.5rem 2.8rem 1.5rem 0;
}

.drawer__footer > details + .cart-drawer__footer {
  padding-top: 1.5rem;
}

cart-drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
}

.cart-drawer__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cart-drawer__overlay:empty {
  display: block !important;
}

.cart-drawer__form {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
}

.cart-drawer__collection {
  margin: 0 2.5rem 1.5rem;
}

.cart-drawer .drawer__cart-items-wrapper {
  flex-grow: 1;
  overflow-y: auto;
}
.cart-drawer .drawer__cart-items-wrapper::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.cart-drawer .drawer__cart-items-wrapper {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.cart-drawer .cart-items,
.cart-drawer tbody {
  display: block;
  width: 100%;
}

.cart-drawer thead {
  display: inline-table;
  width: 100%;
}

cart-drawer-items {
  overflow: scroll;
  padding: 0 3rem;
}
.shopify-cleanslate .p28_J2fRvZNDqyZkZ2H9 button,
.shopify-cleanslate .xGd3h1QpIzYq8GCXdELr button {
  margin: 0 !important;
}
.cart-items .cart-item {
  border-bottom: 1px solid rgba(151, 151, 151, 0.15);
}

@media screen and (max-height: 650px) {
  .drawer__inner {
    overflow: hidden;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .menu-drawer__inner-container {
    padding-bottom: 130px;
  }
}

.cart-drawer .cart-item {
  display: grid;
  grid-template: repeat(2, auto) / repeat(4, 1fr);
  gap: 1rem;
  margin-bottom: 0;
}

.cart-drawer .cart-item:last-child {
  margin-bottom: 1rem;
}

.cart-drawer .cart-item__media {
  grid-row: 1 / 3;
}

.cart-drawer .cart-item__image {
  max-width: 100%;
}

.cart-drawer .cart-items thead {
  margin-bottom: 0.5rem;
}

.cart-drawer .cart-items thead th:first-child,
.cart-drawer .cart-items thead th:last-child {
  width: 0;
  padding: 0;
}

.cart-drawer .cart-items thead th:nth-child(2) {
  width: 50%;
  padding-left: 0;
}

.cart-drawer .cart-items thead tr {
  display: table-row;
  margin-bottom: 0;
}

.cart-drawer .cart-items th {
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
}

.cart-drawer .cart-item:last-child {
  margin-bottom: 1.5rem;
}

.cart-drawer .cart-item .loading__spinner {
  right: 5px;
  padding-top: 2.5rem;
}

.cart-drawer .cart-items td {
  padding-top: 1rem;
}

.cart-drawer .cart-item > td + td {
  padding-left: 1rem;
}

.cart-drawer .cart-item__details {
  width: auto;
  grid-column: 2 / 5;
}

.cart-drawer .cart-item__totals {
  pointer-events: none;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.cart-drawer.cart-drawer .cart-item__price-wrapper > *:only-child {
  margin-top: 0;
}

.cart-drawer .cart-item__price-wrapper .cart-item__discounted-prices {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.cart-drawer .unit-price {
  margin-top: 0.6rem;
}

.cart-item__quantity-wrapper.quantity-popover-wrapper {
  display: flex;
  gap: 10rem;
}
.cart-item .single-product--badge--bottom {
  display: none;
}
@media screen and (max-width: 749px) {
  .cart-page--items .cart-item__name {
    white-space: unset;
  }
  .drawer__footer #dynamic-checkout-cart ul {
    margin: 0 !important;
  }
  .cart__ctas-text.lg.light {
    text-align: left;
    white-space: nowrap;
    letter-spacing: 0;
  }
  .lg {
    font-size: 1.6rem !important;
  }
  quantity-popover .quantity {
    border: 1px solid;
  }
  .drawer__header,
  cart-drawer-items {
    padding: 0 2rem;
  }
  cart-drawer-items {
    padding: 0 2rem 2rem 2rem;
  }
  .cart-item {
    margin-bottom: 2rem;
  }
  .cart-drawer .cart-item cart-remove-button {
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .drawer__inner {
    max-width: 100vw;
  }
  .drawer__footer {
    margin-top: auto;
    margin-bottom: 2rem;
  }
  .cart__ctas button .cart-continue--shopping {
    margin-top: 20px !important;
  }
  .cart-drawer .drawer__cart-items-wrapper {
    max-height: calc(100% - 159px);
  }
}
.drawer__footer {
  margin-top: auto;
  margin-bottom: 2rem;
}
.cart-drawer__footer > * + * {
  margin-top: 1rem;
}

.cart-drawer .totals {
  margin: 0;
  justify-content: space-between;
}

.cart-drawer .price {
  display: flex;
  font-size: 1.2rem;
}
.cart-drawer .price--on-sale .price-item--regular {
  font-size: 1.2rem !important;
}

.cart-drawer .tax-note {
  margin: 1.2rem 0 2rem auto;
  text-align: left;
}

.cart-drawer .product-option dd {
  word-break: break-word;
}

.cart-drawer details[open] > summary .icon-caret {
  transform: rotate(180deg);
}

.cart-drawer .cart__checkout-button {
  width: 100%;
  height: 4.6rem;
}

.drawer__footer .cart__dynamic-checkout-buttons {
  max-width: 100%;
}

.drawer__footer #dynamic-checkout-cart ul {
  flex-direction: row !important;
  margin: 0.5rem -0.5rem 0 0 !important;
  gap: 0.5rem;
}

.drawer__footer [data-shopify-buttoncontainer] {
  justify-content: flex-start;
}

.drawer__footer #dynamic-checkout-cart ul > li {
  flex-basis: calc(50% - 0.5rem) !important;
  margin: 0 !important;
}

.drawer__footer #dynamic-checkout-cart ul > li:only-child {
  flex-basis: 100% !important;
  margin-right: 0.5rem !important;
}

@media screen and (min-width: 750px) {
  .drawer__header {
    padding: 0 2rem;
  }
  .drawer__footer {
    padding: 0 3rem 0 3rem;
    margin-bottom: 0;
  }
  .drawer__footer #dynamic-checkout-cart ul > li {
    flex-basis: calc(100% / 3 - 0.5rem) !important;
    margin: 0 !important;
  }

  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(2),
  .drawer__footer
    #dynamic-checkout-cart
    ul
    > li:first-child:nth-last-child(2)
    ~ li,
  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(4),
  .drawer__footer
    #dynamic-checkout-cart
    ul
    > li:first-child:nth-last-child(4)
    ~ li {
    flex-basis: calc(50% - 0.5rem) !important;
  }
}

cart-drawer-items::-webkit-scrollbar {
  width: 3px;
}

cart-drawer-items::-webkit-scrollbar-thumb {
  background-color: rgba(var(--color-foreground), 0.7);
  border-radius: 100px;
}

cart-drawer-items::-webkit-scrollbar-track-piece {
  margin-top: 31px;
}

.cart-drawer .quantity-popover-container {
  padding: 0;
}

.cart-drawer .quantity-popover__info.global-settings-popup {
  transform: translateY(0);
  top: 100%;
}

.cart-drawer .cart-item__error {
  margin-top: 0.8rem;
}

.cart-drawer .quantity-popover__info + .cart-item__error {
  margin-top: 0.2rem;
}

@media screen and (min-width: 750px) {
  .cart-drawer .cart-item__quantity--info quantity-popover > * {
    padding-left: 0;
  }

  .cart-drawer .cart-item__error {
    margin-left: 0;
  }
}
.shipping-bar__message.cart-drawer__black p {
  margin-bottom: 7px;
}
.shipping-bar {
  width: 100%;
  background: var(--cart-free-shipping);
  padding: 0 3rem;
}
.cart-drawer__black {
  color: #111314;
}
.shipping-bar .shipping-bar__container {
  height: 1rem;
  background: #fff;
  border-radius: 1rem;
  position: relative;
  margin: 1.4rem 0 0.75rem;
}
.shipping-bar .shipping-bar__filled {
  height: 100%;
  border-radius: 1rem;
  transition: all 0.75s ease-in-out;
  background-color: var(--cart-free-shipping-bar);
}
.shipping-bar .shipping__icon {
  position: absolute;
  width: 3rem;
  height: 3rem;
  transition: all 0.75s ease-in-out;
  transform: translate(-70%, -45%);
}
